* {
    box-sizing: border-box;
    --grid-columns-md: 12;
    --grid-gap-size: 20px;
    /* outline: 3px rebeccapurple dotted; */
}

.container {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns-md), 1fr);
    gap: var(--grid-gap-size);
    padding-left: var(--grid-gap-size);
    padding-right: var(--grid-gap-size);
}


/* Header */
.header::before {
    content: '';
    position: absolute;
    background: aquamarine;
    height: 85px;
    width: 100px;
    border-radius: 0 0 0 32px;
    z-index: -1;
}

.header {
    box-sizing: border-box;
    border-radius: 0px 0px 32px 32px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    max-width: 100vw;
}

.header::after {
    top: 0;
    content: '';
    position: absolute;
    background: aquamarine;
    left: 100px;
    height: 60px;
    width: calc(99vw - 100px);
    border-radius: 0 0 32px 0;
    z-index: -1;
}

.header__container {
    grid-template-rows: minmax(0, 60px);
}

.header__logo {
    position: absolute;
    height: 160px;
    width: 160px;
    z-index: 0;
}

.header__title {
    grid-column: 9 / 11;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}

/* Settings */

.settings__text {
    white-space: pre;
    margin: 0;
    margin-top: 10px;
}

.settings__row {
    display: flex;
}

.settings__block_1 {
    grid-column: 2 / 4;
}

.settings__block_2 {
    grid-column: 4 / 6;
}

.settings__container {
    grid-template-rows: minmax(0, 60px);
}

.settings__range {
    margin-top: 10px;
    margin-left: 33px;
}

.settings__button {
    grid-column: 6 / 8;
    margin-top: 10px;
}

/* Hero */

.hero__row {
    grid-row: 2 / 10;
    display: grid;
    gap: var(--grid-gap-size);
}

.hero__row__2__0 {
    grid-column: 4 / 7;
}

.hero__row__2__1 {
    grid-column: 7 / 10;
}


.hero__row__4__0 {
    grid-column: 3 / 5;
}

.hero__row__4__1 {
    grid-column: 5 / 7;
}

.hero__row__4__2 {
    grid-column: 7 / 9;
}

.hero__row__4__3 {
    grid-column: 9  / 11;
}

.hero__row__6__0 {
    grid-column: 4 / 5;
}

.hero__row__6__1 {
    grid-column: 5 / 6;
}

.hero__row__6__2 {
    grid-column: 6 / 7;
}

.hero__row__6__3 {
    grid-column: 7  / 8;
}

.hero__row__6__4 {
    grid-column: 8 / 9;
}

.hero__row__6__5 {
    grid-column: 9 / 10;
}

.hero__row__8__0 {
    grid-column: 3 / 4;
}

.hero__row__8__1 {
    grid-column: 4 / 5;
}

.hero__row__8__2 {
    grid-column: 5 / 6;
}

.hero__row__8__3 {
    grid-column: 6 / 7;
}

.hero__row__8__4 {
    grid-column: 7 / 8;
}

.hero__row__8__5 {
    grid-column: 8 / 9;

}
.hero__row__8__6 {
    grid-column: 9 / 10;
}

.hero__row__8__7 {
    grid-column: 10 / 11;
}

.hero__row__10__0 {
    grid-column: 2 / 3;
}

.hero__row__10__1 {
    grid-column: 3 / 4;
}

.hero__row__10__2 {
    grid-column: 4 / 5;
}

.hero__row__10__3 {
    grid-column: 5 / 6;
}

.hero__row__10__4 {
    grid-column: 6 / 7;
}

.hero__row__10__5 {
    grid-column: 7 / 8;

}
.hero__row__10__6 {
    grid-column: 8 / 9;
}

.hero__row__10__7 {
    grid-column: 9 / 10;
}

.hero__row__10__8 {
    grid-column: 10 / 11;
}

.hero__row__10__9 {
    grid-column: 11 / 12;
}

.hero__cell {
    transition: transform 0.5s;
    /* grid-column: 2 / 4; */
    background-size: contain;
    border: 3px solid black;
    border-radius: 16px;
}

.hero__cell:hover {
    cursor: pointer;
}

.hero__cell.clicked {
    transform: rotateY(180deg);

  }

.hero__cell.deleted {
    transform: scale(0);
}

.final_block {
    grid-column: 6 / 7;
    margin-top: 10px;
}

.alert {
    font-size: 2rem;
}

.alert__victory {
    color: green;
}

.alert__defeat {
    color: red;
}

.image_0 {
    background-image: url(../images/img_0.svg) !important;
}

.image_1 {
    background-image: url(../images/img_1.svg) !important;
}

.image_2 {
    background-image: url(../images/img_2.svg) !important;
    background-size: cover;
}

.image_3 {
    background-image: url(../images/img_3.svg) !important;
}

.image_4 {
    background-image: url(../images/img_4.svg) !important;
}

.image_5 {
    background-image: url(../images/img_5.svg) !important;
}

.image_6 {
    background-image: url(../images/img_6.svg) !important;
}

.image_7 {
    background-image: url(../images/img_7.svg) !important;
}

.image_8 {
    background-image: url(../images/img_8.svg) !important;
}

.image_9 {
    background-image: url(../images/img_9.svg) !important;
}

.image_10 {
    background-image: url(../images/img_10.svg) !important;
}

.image_11 {
    background-image: url(../images/img_11.svg) !important;
}

.image_12 {
    background-image: url(../images/img_12.svg) !important;
}

.image_13 {
    background-image: url(../images/img_13.svg) !important;
}

.image_14 {
    background-image: url(../images/img_14.svg) !important;
}

.image_15 {
    background-image: url(../images/img_15.svg) !important;
}

.image_16 {
    background-image: url(../images/img_16.svg) !important;
}

.image_17 {
    background-image: url(../images/img_17.svg) !important;
}

.image_18 {
    background-image: url(../images/img_18.svg) !important;
}

.image_19 {
    background-image: url(../images/img_19.svg) !important;
}

.image_20 {
    background-image: url(../images/img_20.svg) !important;
}

.image_21 {
    background-image: url(../images/img_21.svg) !important;
}

.image_22 {
    background-image: url(../images/img_22.svg) !important;
}

.image_23 {
    background-image: url(../images/img_23.svg) !important;
}

.image_24 {
    background-image: url(../images/img_24.svg) !important;
}

.image_25 {
    background-image: url(../images/img_25.svg) !important;
}

.image_26 {
    background-image: url(../images/img_26.svg) !important;
}

.image_27 {
    background-image: url(../images/img_27.svg) !important;
}

.image_28 {
    background-image: url(../images/img_28.svg) !important;
}

.image_29 {
    background-image: url(../images/img_29.svg) !important;
}

.image_30 {
    background-image: url(../images/img_30.svg) !important;
}

.image_31 {
    background-image: url(../images/img_31.svg) !important;
}

@media (max-width: 1440px) {
    .header::before {
        width: 80px;
    }

    .header::after {
        left: 80px;
        width: calc(99vw - 80px);
    }

    .header__logo {
        height: 120px;
        width: 120px;
    }

    .header__title {
        grid-column: 9 / 12;
        text-align: end;
    }

    .settings__block_1 {
        grid-column: 2 / 5;
    }

    .settings__block_2 {
        grid-column: 5 / 8;
    }

    .settings__button {
        grid-column: 8 / 10;
    }

}

@media (max-width: 992px) {
    .header::before {
        width: 60px;
    }

    .header::after {
        left: 60px;
        width: calc(99vw - 60px);
    }

    .header__logo {
        margin-top: 20px;
        height: 100px;
        width: 100px;
    }

    .header__title {
        grid-column: 8 / 12;
        text-align: end;
    }

    .settings__block_1 {
        grid-column: 3 / 6;
    }
    
    .settings__block_2 {
        grid-column: 6 / 9;
    }

    .settings__button {
        grid-column: 10 / 12;
    }
}

@media (max-width: 768px) {

    .header::before {
        display: none;
    }

    .header::after {
        left: 0;
        width: 100vw;
        border-radius: 0;
    }

    .header__logo {
        margin-top: 0;
        height: 80px;
        width: 80px;
    }

    .header__title {
        text-align: left;
        grid-column: 6 / 12;
    }

    .settings__block_1 {
        grid-column: 1 / 6;
    }

    .settings__block_2 {
        grid-column: 6 / 12;
    }

    .settings__button {
        grid-column: 1 / 12;
    }

    .hero__row__2__0 {
        grid-column: 3 / 6;
    }

    .hero__row__4__0 {
        grid-column: 2 / 4;
    }

    .hero__row__4__1 {
        grid-column: 4 / 6;
    }

    .hero__row__4__2 {
        grid-column: 6 / 8;
    }

    .hero__row__4__3 {
        grid-column: 8 / 10;
    }

    .hero__row__6__0 {
        grid-column: 1 / 2;
    }

    .hero__row__6__1 {
        grid-column: 2 / 3;
    }

    .hero__row__6__2 {
        grid-column: 3 / 4;
    }

    .hero__row__6__3 {
        grid-column: 4 / 5;
    }

    .hero__row__6__4 {
        grid-column: 5 / 6;
    }

    .hero__row__6__5 {
        grid-column: 6 / 7;
    }

    .hero__row__8__0 {
        grid-column: 1 / 2;
    }    

    .hero__row__8__1 {
        grid-column: 2 / 3;
    }

    .hero__row__8__2 {
        grid-column: 3 / 4;
    }

    .hero__row__8__3 {
        grid-column: 4 / 5;
    }

    .hero__row__8__4 {
        grid-column: 5 / 6;
    }

    .hero__row__8__5 {
        grid-column: 6 / 7;
    }

    .hero__row__8__6 {
        grid-column: 7 / 8;
    }

    .hero__row__8__7 {
        grid-column: 8 / 9;
    }
}

@media (max-width: 576px) {
    .header__title {
        font-size: 1.4rem;
    }

    .header__logo {
        height: 60px;
        width: 60px;
    }

    .settings__block_1 {
        grid-column: 1 / 12;
    }

    .settings__block_2 {
        grid-column: 1 / 12;
    }
}